

/* @media only screen and (max-width:1024px) {
    .mobile-show .logoimg{
        top: 21px;
        left: 20px;
        width: 48px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-show .logo img{
        margin-left: -10px;
        padding-top: 0;
    }

.header1{
    gap: 0 !important;
}
.header2{
    background-color: #AD0F14;
}
.ball-count{
    display: none;
}
}

@media only screen and (min-width: 768px){
   
    
}

#header-bottom{
    background-color: #AD0F14;
    
} */
